<a href="https://colab.research.google.com/github/Avinash174/Kaggle/blob/main/Online_Payment_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
from pylab import rcParams
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error,root_mean_squared_error

In [2]:
df=pd.read_csv('/content/sample_data/Fraud Detection Dataset.csv')
df.head()

  Transaction_ID  User_ID  ...  Payment_Method Fraudulent
0             T1     4174  ...      Debit Card          0
1             T2     4507  ...     Credit Card          0
2             T3     1860  ...             NaN          0
3             T4     2294  ...             UPI          0
4             T5     2130  ...     Credit Card          0

[5 rows x 12 columns]

In [4]:
df.columns

Index(['Transaction_ID', 'User_ID', 'Transaction_Amount', 'Transaction_Type',
       'Time_of_Transaction', 'Device_Used', 'Location',
       'Previous_Fraudulent_Transactions', 'Account_Age',
       'Number_of_Transactions_Last_24H', 'Payment_Method', 'Fraudulent'],
      dtype='object')

In [5]:
df.shape

(51000, 12)

In [6]:
df.size

612000

In [7]:
df.describe()

            User_ID  Transaction_Amount  ...  Number_of_Transactions_Last_24H    Fraudulent
count  51000.000000        48480.000000  ...                     51000.000000  51000.000000
mean    3005.110176         2996.249784  ...                         7.495588      0.049216
std     1153.121107         5043.932555  ...                         4.020080      0.216320
min     1000.000000            5.030000  ...                         1.000000      0.000000
25%     2007.000000         1270.552500  ...                         4.000000      0.000000
50%     2996.000000         2524.100000  ...                         7.000000      0.000000
75%     4006.000000         3787.240000  ...                        11.000000      0.000000
max     4999.000000        49997.800000  ...                        14.000000      1.000000

[8 rows x 7 columns]

In [8]:
df.isnull()

       Transaction_ID  User_ID  ...  Payment_Method  Fraudulent
0               False    False  ...           False       False
1               False    False  ...           False       False
2               False    False  ...            True       False
3               False    False  ...           False       False
4               False    False  ...           False       False
...               ...      ...  ...             ...         ...
50995           False    False  ...           False       False
50996           False    False  ...           False       False
50997           False    False  ...           False       False
50998           False    False  ...           False       False
50999           False    False  ...           False       False

[51000 rows x 12 columns]

In [11]:
df.dtypes

Transaction_ID                       object
User_ID                               int64
Transaction_Amount                  float64
Transaction_Type                     object
Time_of_Transaction                 float64
Device_Used                          object
Location                             object
Previous_Fraudulent_Transactions      int64
Account_Age                           int64
Number_of_Transactions_Last_24H       int64
Payment_Method                       object
Fraudulent                            int64
dtype: object

In [9]:
df.isnull().sum()

Transaction_ID                         0
User_ID                                0
Transaction_Amount                  2520
Transaction_Type                       0
Time_of_Transaction                 2552
Device_Used                         2473
Location                            2547
Previous_Fraudulent_Transactions       0
Account_Age                            0
Number_of_Transactions_Last_24H        0
Payment_Method                      2469
Fraudulent                             0
dtype: int64

In [10]:
df['Transaction_Amount'].value_counts()

Transaction_Amount
49997.80    508
3562.91       4
1747.31       4
2748.08       4
495.14        4
           ...
623.00        1
1646.54       1
2395.02       1
857.66        1
4392.68       1
Name: count, Length: 44821, dtype: int64

In [12]:
df['Transaction_Amount'].fillna(df['Transaction_Amount'].mean(),inplace=True)

In [13]:
df['Transaction_Amount'].isnull().sum()

np.int64(0)

In [16]:
df['Time_of_Transaction']

0        16.0
1        13.0
2         NaN
3        15.0
4        19.0
         ...
50995    15.0
50996     3.0
50997    18.0
50998    19.0
50999     3.0
Name: Time_of_Transaction, Length: 51000, dtype: float64

In [17]:
df['Time_of_Transaction'].value_counts()

Time_of_Transaction
18.0    2112
13.0    2087
15.0    2076
3.0     2071
17.0    2060
0.0     2045
5.0     2036
4.0     2035
11.0    2034
16.0    2032
8.0     2026
1.0     2025
21.0    2024
20.0    2014
2.0     2002
6.0     2000
22.0    1994
7.0     1981
12.0    1980
23.0    1979
14.0    1975
10.0    1971
19.0    1947
9.0     1942
Name: count, dtype: int64

In [21]:
df['Time_of_Transaction'].value_counts()

Time_of_Transaction
11.4884    2552
18.0000    2112
13.0000    2087
15.0000    2076
3.0000     2071
17.0000    2060
0.0000     2045
5.0000     2036
4.0000     2035
11.0000    2034
16.0000    2032
8.0000     2026
1.0000     2025
21.0000    2024
20.0000    2014
2.0000     2002
6.0000     2000
22.0000    1994
7.0000     1981
12.0000    1980
23.0000    1979
14.0000    1975
10.0000    1971
19.0000    1947
9.0000     1942
Name: count, dtype: int64

In [22]:
df['Time_of_Transaction'].fillna(df['Time_of_Transaction'].mode()[0],inplace=True)

In [23]:
df['Time_of_Transaction'].isna().sum()

np.int64(0)

In [24]:
df['Time_of_Transaction'].isna().sum()

np.int64(0)